body{
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    width: 100%;
    text-align: center;
}

/* App style*/
.container-app{
    background-color: white;
    width: 375px;
    height: 812px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 50px 50px;
    overflow: hidden;
}
.image-app img {
    width: 100%;
    max-width: 260px;
    margin-top: 118px;
}
.title-app {
    background-color: #ff5959;
    color: white;
    padding: 15px 0;
    border-radius: 8px;
    margin-top: 92px;
    font-size: 1.2rem;
    letter-spacing: 0.5px;

    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
}
.description {
    color: #555;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 50px;
    margin-bottom: 164px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 120px;
}
.btn {
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 0.85rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.skip{
    background-color: #f3e6e6;
    color: #555;
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 10%;

}
.dots {
    display: flex;
    gap: 6px;
    border: none;
}
.dot {
    width: 8px;
    height: 8px;
    padding: 0;
    border: none;
    outline: none;
    background-color: #f3cfcf;
    border-radius: 2px; 
    cursor: pointer;
    display: block;
}
.dot.active {
    background-color: #ff5959;
}
.next{
    background-color: #ff5959;
    color: #fff;
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 10%;
}

/*Fated style*/
.container-fated{
    background-color: #FF5F5F;
    width: 375px;
    height: 812px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    overflow: hidden;
}
.image-fated{
    width: 100%;
    max-width: 260px;
    margin-top: 103px;
    border-radius: 50%;
}
.title-fated{
    margin-top: 40px;
    color: white;
    width: 140;
    height: 14;
    top: 274px;
    left: 118px;
    opacity: 1;

    font-family: "Luckiest Guy", regular;
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    line-height: 14px;
    letter-spacing: 5%;
    text-align: center; 
}
.register-login-switch{
    display: flex ;
    justify-content: center; 
    gap: 20px;
    margin-top: 70px;
    margin-bottom: 15px;
}
.login-register-inactiv{
    background-color: rgba(217, 217, 217, 0.1);
    width: 130;
    height: 30;
    top: 412px;
    left: 56px;
    border-radius: 5px;
    opacity: 0.1;

    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-weight: 800;
    font-style: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 10%;
    text-align: center;
    opacity: 1;
}
.login-register-active{
    background-color: rgba(255, 255, 255, 1);
    width: 130;
    height: 30;
    top: 412px;
    left: 56px;
    border-radius: 5px;
    opacity: 0.1;

    font-family: "Lato", sans-serif;
    color: #ff5959;
    font-weight: 800;
    font-style: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 10%;
    text-align: center;
    opacity: 1;
}
.form{
    display: flex;
    flex-direction: column; 
    gap: 13px; 
    margin-bottom: 20px;
    align-items: center;
}
input{
    width: 280px;
    height: 45px;
    top: 462px;
    left: 56px;
    border-radius: 5px;
    opacity: 1;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    gap: 10px;
    outline: none;
    border: none;   

    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 10%;
    text-align: center;
    box-sizing: border-box;
}
.forgot-password{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 10%;
    text-align: right;
    margin-right: 46px;
    margin-bottom: 20px;
}
.final{
    margin-bottom: 20px;
    background-color: white;
    width: 280px;
    height: 45px;
    
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px; 
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    opacity: 1;
    box-sizing: border-box;

    font-family: Lato;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 10%;
    text-align: center;
    color: #FF5F5F;
}
.already-have-an-account{
    color: white;
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 10%;
    text-align: center;
    border: none;
    background-color: #ff5959;
}






